/* 設置網頁主體樣式 */
html, body {
    margin: 0;  /* 去掉網頁主體的預設外邊距 */
    background-color: #fff9f6;
}

/* 設置網頁字體樣式 */
html {
    /* 使用指定字體，如果無法加載則依次使用後面的備選字體 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;  /* 將 HTML 根元素高度設置為 100% */
}

/* 設置網頁主體樣式 */
body {
    overflow: hidden;  /* 隱藏主體內容溢出的部分 */
    height: inherit;  /* 繼承父元素 HTML 的高度 */
}

/* 設置網頁標題樣式 */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fad814; /* 將文字顏色設為藍色 */
    font-size: 4rem;  /* 設置標題字體大小 */
    letter-spacing: -1px;  /* 設置字母間距 */
    top: 10px;  /* 將標題向上移動一些像素 */
    right: 10px;  /* 將標題向右移動一些像素 */
}

img {
    text-align: center; /* 將文字置中 */
    position: fixed;
    bottom: 0;
}

.logo {
    position: relative;
    z-index: 999;
    left: 7px;
    height: 30px;
    width: 80px;
}

.main {
    text-align: center; /* 將文字置中 */
    position: relative;
    z-index: 998;
    bottom: 0;
    width: 430px;
    border-radius: 20%;
    box-shadow: 0px 0px 100px 50px rgb(255, 255, 255);
}
#dy_bar {
     background-color: #0066b0;
     font-size: 14px;
     padding: 3px 0px 3px;
     color: #fad814; /* 將文字顏色設為藍色 */
     font-family: Arial, Helvetica, sans-serif;
 }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#favicon {
    width: 16px;
    height: 8px;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.loader-container {
    padding: 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7986cb;
    padding: 10px 8px 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loading-message {
    margin-top: 16px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}